<div>
    <logout></logout>
    <button ui-sref="app.family">Back to Family</button>
    <div ng-show="childCtrl.step == 1">
        <h1>Name:</h1>
        <h1 editable-text="childCtrl.name"
            update-method="childCtrl.nothing()"
            only-edit="true"
        ></h1>
    </div>
    <div ng-show="childCtrl.step == 2">
        <h1>Image:</h1>
        <div editable-image="childCtrl.photo_url"
             update-method="childCtrl.create()"
             image-banks="['child-photos']"
             only-edit="true"
             ng-show="childCtrl.step == 2"></div>
    </div>
</div>