<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for the registration!</h1>
<p>
    Click the link to confirm your email:
    <a href='<%= @url %>'><%= @url %></a>
</p>
<p>До свидания!</p>
</body>
</html>