/.bundle
/.DS_Store
/.idea
/.vagrant
logs/*
!/logs/.keep
data/*
data-test/*
!/data/.keep
api/log/*
!/api/log/.keep
api/tmp
api/.byebug_history
/.yardoc
/api/doc
/api/coverage
api/public
pgdata
pgdata_dev
frontend/photos/
api/.yardoc/
.env
