@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

.adult {
  min-height: 100%;
  color: #ffffff;
  background-color: #9C27B0;
  font-family: "AddisAbaba"; }
  .adult h1 {
    margin: 0; }
  .adult .delete-button {
    color: #FF4081; }
