.child {
  height: 100%;
  width: 100%; }
  .child h1 {
    color: #ffffff;
    margin: 0;
    text-align: center; }
  .child div.ng-hide .editable-text-popup {
    height: 0 !important; }
  .child div.ng-hide .editable-image-popup {
    height: 0 !important; }
  .child div.ng-hide .num-pad {
    height: 0 !important;
    overflow: hidden; }
  .child .left-panel {
    width: 250px;
    z-index: 2;
    background-color: #9C27B0; }
    .child .left-panel .hide-panel {
      overflow: hidden;
      width: 250px;
      height: 100%;
      background-color: #9C27B0;
      transition: all .5s; }
      .child .left-panel .hide-panel .scroll-container {
        width: 320px;
        height: 100%;
        overflow: auto; }
        .child .left-panel .hide-panel .scroll-container .content-container {
          width: 250px;
          min-height: 100%;
          padding: 16px; }
    @media only screen and (max-width: 600px) {
      .child .left-panel {
        transition: all .5s;
        width: 50px; }
        .child .left-panel .panel-closer {
          margin: 0;
          height: 100%;
          width: 50px;
          background-color: #9C27B0; }
          .child .left-panel .panel-closer svg {
            color: #ffffff;
            width: 30px;
            transition: all .5s; }
        .child .left-panel.closed .hide-panel {
          width: 0; }
        .child .left-panel.closed .panel-closer svg {
          transform: rotateY(180deg); } }
    .child .left-panel .back-button {
      color: #ffffff; }
    .child .left-panel .delete-button {
      color: #FF4081; }
    .child .left-panel .control-buttons .md-button {
      color: #ffffff; }
  .child .right-panel {
    height: 100%;
    overflow: auto;
    display: block;
    background: ghostwhite;
    padding: 16px; }
    .child .right-panel .container {
      min-height: 100%; }
    .child .right-panel h1 {
      color: #9C27B0; }
    .child .right-panel .item {
      padding: 0;
      text-transform: none;
      background-color: #ffffff; }
    .child .right-panel .item-add {
      height: 264px;
      line-height: 264px;
      width: 200px;
      background-color: #ffffff; }
