@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSketch";
  src: url("/css/fonts/KGSecondChancesSketch.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSolid";
  src: url("/css/fonts/KGSecondChancesSolid.ttf") format("truetype"); }

@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSketch";
  src: url("/css/fonts/KGSecondChancesSketch.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSolid";
  src: url("/css/fonts/KGSecondChancesSolid.ttf") format("truetype"); }

.child {
  height: 100%;
  width: 100%; }
  .child h1 {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: "AddisAbaba"; }
  .child div.ng-hide .editable-text-popup {
    height: 0 !important; }
  .child div.ng-hide .editable-image-popup {
    height: 0 !important; }
  .child div.ng-hide .num-pad {
    height: 0 !important;
    overflow: hidden; }
  .child .left-panel {
    width: 250px;
    overflow: hidden;
    background-color: #9C27B0; }
    .child .left-panel .scroll-container {
      width: 280px;
      height: 100%;
      overflow: auto; }
      .child .left-panel .scroll-container .content-container {
        width: 250px;
        min-height: 100%;
        padding: 16px; }
    .child .left-panel .back-button {
      font-family: "AddisAbaba";
      color: #ffffff; }
    .child .left-panel .delete-button {
      color: #FF4081; }
    .child .left-panel .control-buttons .md-button {
      color: #ffffff; }
  .child .right-panel {
    height: 100%;
    overflow: auto;
    display: block;
    background: #E1BEE7;
    padding: 16px; }
    .child .right-panel .container {
      min-height: 100%; }
    .child .right-panel h1 {
      color: #212121; }
    .child .right-panel .item {
      padding: 0;
      text-transform: none;
      font-family: "AddisAbaba";
      background-color: #ffffff; }
    .child .right-panel p {
      font-family: "AddisAbaba"; }
    .child .right-panel .item-add {
      height: 264px;
      line-height: 264px;
      width: 200px;
      background-color: #ffffff;
      font-family: "AddisAbaba"; }
