@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSketch";
  src: url("/css/fonts/KGSecondChancesSketch.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSolid";
  src: url("/css/fonts/KGSecondChancesSolid.ttf") format("truetype"); }

@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSketch";
  src: url("/css/fonts/KGSecondChancesSketch.ttf") format("truetype"); }

@font-face {
  font-family: "KGSecondChancesSolid";
  src: url("/css/fonts/KGSecondChancesSolid.ttf") format("truetype"); }

.family {
  height: 100%;
  width: 100%; }
  .family h1 {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: "AddisAbaba"; }
  .family div.ng-hide .editable-text-popup {
    height: 0 !important; }
  .family div.ng-hide .editable-image-popup {
    height: 0 !important; }
  .family div.ng-hide .num-pad {
    height: 0 !important;
    overflow: hidden; }
  .family .left-panel {
    width: 250px;
    padding: 16px;
    background-color: #9C27B0; }
    .family .left-panel .control-buttons .md-button {
      color: #ffffff; }
  .family .right-panel {
    height: 100%;
    overflow: auto;
    display: block; }
    .family .right-panel .container {
      min-height: 100%; }
    .family .right-panel h1 {
      color: #212121; }
    .family .right-panel .item {
      padding: 0;
      text-transform: none;
      font-family: "AddisAbaba"; }
    .family .right-panel p {
      font-family: "AddisAbaba"; }
    .family .right-panel .item-add {
      height: 264px;
      line-height: 264px;
      width: 200px;
      font-family: "AddisAbaba"; }
