@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

@font-face {
  font-family: "AddisAbaba";
  src: url("/css/fonts/AddisAbaba.ttf") format("truetype"); }

.family_new {
  min-height: 100%;
  background-color: #FF4081; }
  .family_new h1 {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-family: "AddisAbaba"; }
  .family_new div.ng-hide .editable-text-popup {
    height: 0 !important; }
  .family_new div.ng-hide .editable-image-popup {
    height: 0 !important; }
  .family_new div.ng-hide .num-pad {
    height: 0 !important;
    overflow: hidden; }
  .family_new .first-background, .family_new .second-background {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .family_new .first-background {
    background-color: #9C27B0; }
  .family_new .second-background {
    background-color: #FF4081; }
