.index {
  min-height: 100%;
  background-color: #9C27B0; }
  .index .title-block {
    display: block; }
    .index .title-block h2 {
      text-align: center;
      margin-top: -10px; }
    @media (max-width: 960px) {
      .index .title-block {
        margin-top: 100px;
        margin-bottom: 100px; } }
  .index h1 {
    margin: 0;
    color: #E1BEE7; }
  .index h2, .index h3 {
    color: #E1BEE7;
    text-align: center; }
  .index svg {
    fill: #E1BEE7;
    width: 100px;
    height: 100px; }
  @media (max-width: 960px) {
    .index .steps {
      margin-bottom: 100px; } }
  .index a {
    color: #E1BEE7; }
