.index {
  min-height: 100%; }
  .index .title-block {
    display: block; }
    .index .title-block h2 {
      text-align: center;
      margin-top: -10px; }
    @media (max-width: 960px) {
      .index .title-block {
        margin-top: 100px;
        margin-bottom: 100px; } }
  .index h1 {
    margin: 0;
    color: #E1BEE7; }
  .index h2, .index h3 {
    color: #E1BEE7;
    text-align: center; }
  .index h3 {
    color: #9C27B0; }
  .index p, .index ul {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c; }
  .index ul {
    list-style: none; }
  .index li svg {
    height: 2rem;
    width: 2rem; }
  .index a {
    color: #E1BEE7; }
  .index .index--main {
    width: 100%; }
  .index .index--first {
    background-color: #9C27B0; }
