<div class="adult_new">
    <div editable-text="adultCtrl.name"
         text="Enter an adult's name"
         update-method="adultCtrl.nothing()"
         only-edit="true"
         ng-show="adultCtrl.step == 1">
    </div>
    <div ng-show="adultCtrl.step == 2" class="first-background"></div>
    <div editable-image="adultCtrl.photo_url"
         text="Choose a photo"
         update-method="adultCtrl.create()"
         image-banks="['adult-photos']"
         only-edit="true"
         ng-show="adultCtrl.step == 2">
    </div>
</div>