$color-first:  #9C27B0;
$color-second: #FF4081;
$color-white:  #ffffff;
$color-black:  #212121;
$color-grey:   #E1BEE7;

$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;