$color-first:  #aa66cc;
$color-second: #99cc00;
$color-white:  #ffffff;
$color-black:  #122333;
$color-grey:   #eeeeee;

$layout-breakpoint-xs:     600px !default;
$layout-breakpoint-sm:     960px !default;
$layout-breakpoint-md:     1280px !default;
$layout-breakpoint-lg:     1920px !default;