@import 'globals';

@mixin object_new {
  min-height: 100%;
  background-color: $color-second;

  h1 {
    color: $color-white;
    margin: 0;
    text-align: center;
  }

  div.ng-hide {
    .editable-text-popup {
      height: 0 !important;
    }
    .editable-image-popup {
      height: 0 !important;
    }
    .num-pad {
      height: 0 !important;
      overflow: hidden;
    }
  }

  .first-background, .second-background {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .first-background {
    background-color: $color-first;
  }
  .second-background {
    background-color: $color-second;
  }

}
