@import 'globals';

@mixin object {
  height: 100%;
  width: 100%;

  h1 {
    color: $color-white;
    margin: 0;
    text-align: center;
  }

  div.ng-hide {
    .editable-text-popup {
      height: 0 !important;
    }
    .editable-image-popup {
      height: 0 !important;
    }
    .num-pad {
      height: 0 !important;
      overflow: hidden;
    }
  }

  .left-panel {
    width: 250px;
    z-index: 2;
    .hide-panel {
      overflow: hidden;
      width: 250px;
      height:100%;
      background-color: $color-first;
      transition: all .5s;
      .scroll-container {
        width: 320px;
        height:100%;
        overflow: auto;
        .content-container {
          width: 250px;
          min-height: 100%;
          padding: 16px;
        }
      }
    }
    @media only screen and (max-width: $layout-breakpoint-xs) {
      transition: all .5s;
      width: 50px;
      .panel-closer {
        margin: 0;
        height: 100%;
        width: 50px;
        background-color: $color-first;
        svg {
          color: $color-white;
          width: 30px;
          transition: all .5s;
        }
      }
      &.closed {
        .hide-panel {
          width: 0;
        }
        .panel-closer {
          svg {
            transform: rotateY(180deg);
          }
        }
      }
    }
    background-color: $color-first;
    .back-button {
        color: $color-white;
    }
    .delete-button {
      color: $color-second;
    }
    .control-buttons {
      .md-button {
        color: $color-white;
      }
    }
  }

  .right-panel {
    height: 100%;
    overflow: auto;
    display: block;
    background: $color-back;
    padding: 16px;
    .container {
      min-height: 100%;
    }
    h1 {
      color: $color-first;
    }
    .item {
      padding: 0;
      text-transform: none;
      background-color: $color-white;
    }

    .item-add {
      height: 264px;
      line-height: 264px;
      width: 200px;
      background-color: $color-white;
    }
  }
}
