@import 'globals';
@import 'fonts';

@mixin object {
  min-height: 100%;
  width: 100%;

  .left-panel {
    width: 250px;
    background-color: $color-first;
    .control-buttons {
      .md-button {
        color: $color-white;
      }
    }

  }

  h1 {
    color: $color-white;
    margin: 0;
    text-align: center;
    font-family: "AddisAbaba";
  }

  div.ng-hide {
    .editable-text-popup {
      height: 0 !important;
    }
    .editable-image-popup {
      height: 0 !important;
    }
    .num-pad {
      height: 0 !important;
      overflow: hidden;
    }
  }
}