@import 'globals';
@import 'fonts';

@mixin object {
  height: 100%;
  width: 100%;

  h1 {
    color: $color-white;
    margin: 0;
    text-align: center;
    font-family: "AddisAbaba";
  }

  div.ng-hide {
    .editable-text-popup {
      height: 0 !important;
    }
    .editable-image-popup {
      height: 0 !important;
    }
    .num-pad {
      height: 0 !important;
      overflow: hidden;
    }
  }

  .left-panel {
    width: 250px;
    padding: 16px;
    background-color: $color-first;
    .control-buttons {
      .md-button {
        color: $color-white;
      }
    }
  }

  .right-panel {
    height: 100%;
    overflow: auto;
    display: block;
    .container {
      min-height: 100%;
    }
    h1 {
      color: $color-black;
    }
    .item {
      padding: 0;
      text-transform: none;
      font-family: "AddisAbaba";
    }
    p {
      font-family: "AddisAbaba";
    }

    .item-add {
      height: 264px;
      line-height: 264px;
      width: 200px;
      font-family: "AddisAbaba";
    }
  }
}