@import 'globals';
@import 'fonts';

.adult {
  min-height: 100%;
  color: $color-white;
  background-color: $color-first;
  font-family: "AddisAbaba";

  h1 {
    margin: 0;
  }

  .delete-button {
    color: $color-second;
  }
}