@import 'globals';
@import 'fonts';

.editable-text {
  .md-button {
    color: $color-white;
  }
  .editable-text-popup {
    height: 100%;
    background-color: $color-first;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    transition: all 0.5s;
    overflow: auto;
    z-index: 10;
    &.ng-hide {
      height: 0;
      overflow: hidden;
    }
    h1 {
      color: $color-white;
      margin: 0;
      text-align: center;
      font-family: "AddisAbaba";
    }
    md-input-container {
      margin-bottom: 0;
    }
  }
}