@import 'globals';

.index {
  min-height: 100%;
  .title-block {
    display: block;
    h2 {
      text-align: center;
      margin-top: -10px;
    }
    @media (max-width: $layout-breakpoint-sm) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  h1 {
    margin: 0;
    color: $color-grey;
  }

  h2, h3 {
    color: $color-grey;
    text-align: center;
  }

  h3 {
    color: $color-first;
  }

  p, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
  }

  ul {
    list-style: none;
  }

  li {
    svg {
      height: 2rem;
      width: 2rem;
    }
  }

  a {
    color: $color-grey;
  }

  .index--main {
    width: 100%;
  }
  .index--first {
    background-color: $color-first;
  }
}
