@import 'globals';
@import 'fonts';

.index {
  min-height: 100%;
  background-color: $color-first;
  .title-block {
    display: block;
    h2 {
      text-align: center;
      margin-top: -10px;
    }
    button {
      font-family: "AddisAbaba";
    }
    @media (max-width: $layout-breakpoint-sm) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  h1 {
    margin: 0;
    color: $color-grey;
    font-family: "KGSecondChancesSketch";
  }

  h2, h3 {
    color: $color-grey;
    text-align: center;
    font-family: "AddisAbaba";
  }
  svg {
    fill: $color-grey;
    width: 100px;
    height: 100px;
  }

  .steps {
    h2, h3 {
      font-family: "AddisAbaba";
      @media (max-width: $layout-breakpoint-sm) {

      }
    }
    @media (max-width: $layout-breakpoint-sm) {
      margin-bottom: 100px;
    }
  }

  a {
    font-family: "AddisAbaba";
    color: $color-grey;
  }
}