@import 'globals';
@import 'fonts';

md-icon {
  width: 100%;
  height: auto;
}

.full {
  display: block;
  height: 100%;
  min-height: 100%;
}

.dialog {
  min-width: 400px;
  min-height: 352px;
}

.copyright {
  color: $color-grey;
  font-family: "AddisAbaba";
  a {
    color: $color-second
  }
}

.hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey;
}
.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }
.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }

md-input-container
{
  font-family: "AddisAbaba";
  width: 200px;
  .md-input-message-animation {
    max-width: 200px;
  }
  label, label:after {
    color: $color-grey !important;
  }
  .md-input {
    font-family: "AddisAbaba";
    border-color: $color-grey !important;
    text-align: center;
  }
  &.md-input-invalid {
    label, label:after,
    .md-input-message-animation {
      color: $color-second !important;
    }

    .md-input {
      border-color: $color-second !important;
    }
  }
}

button {
  font-family: "AddisAbaba" !important;
}

div[image] {
  height: 200px;
  width: 200px;
  display: block;
  background: url(/images/dino.jpg) repeat center center fixed;
  background-size: 200px;
  &.loaded {
    background: no-repeat center center;
    background-size: cover;
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
  height: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

