@import 'globals';
@import 'fonts';

body {
  height: auto;
  display: block;
  width: 100%;
}

.app {
  display: block;
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: $color-first;
}

.full {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

md-icon {
  width: 100%;
  height: auto;
}

.image-copyrights {
  color: $color-grey;
  font-family: "AddisAbaba";
  text-align: center;
  a {
    color: $color-second
  }
}
