<div class="goal_new" md-theme="dark">
    <div editable-text="goalCtrl.name"
         text="Enter a goal's name"
         update-method="goalCtrl.nothing()"
         only-edit="true"
         ng-show="goalCtrl.step == 1">
        >
    </div>
    <div ng-show="goalCtrl.step == 2" class="first-background"></div>
    <div editable-image="goalCtrl.photo_url"
         text="Choose a photo"
         update-method="goalCtrl.nothing()"
         image-banks="['goal-photos']"
         only-edit="true"
         ng-show="goalCtrl.step == 2"></div>
    <div ng-show="goalCtrl.step == 3" class="second-background"></div>
    <num-pad text="How much points is needed to reach the goal?"
             num="goalCtrl.target"
             on-ok="goalCtrl.create()"
             only-ok="true"
             type="text"
             min="1"
             max="3"
             ng-show="goalCtrl.step == 3"
    ></num-pad>
</div>