<div class="full-height index" layout="column" layout-align="end center">
    <div flex layout="column" layout-gt-sm="row" layout-align="center center">
        <div flex layout="row" layout-align="center center">
            <div flex="80" layout="column" layout-align="center center" class="title-block">
                <img src="/images/thatsaboy.png" alt="thatsaboy">

                <h2>Make your kid manageable</h2>

                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-accent">Log in</md-button>
                    <md-button class="md-raised">Sign up</md-button>
                </div>
            </div>
        </div>
        <div flex layout="row" layout-align="center center">
            <div flex="80" layout="column" layout-align="center start" class="steps" layout-margin="">
                <div flex layout="row" layout-align="start center" layout-margin="">
                    <md-icon md-svg-icon="index:toy" flex="15"></md-icon>
                    <h2 flex>Create a goal for the kid, e.g. toy or trip.</h2>
                </div>
                <div flex layout="row" layout-align="start center" layout-margin="">
                    <md-icon md-svg-icon="index:number" flex="15"></md-icon>
                    <h2 flex>Evaluate how much points is needed to reach the goal.</h2>
                </div>
                <div flex layout="row" layout-align="start center" layout-margin="">
                    <md-icon md-svg-icon="index:medal" flex="15"></md-icon>
                    <h2 flex>Add points for good acts and remove for bad.</h2>
                </div>
                <div flex layout="row" layout-align="start center" layout-margin="">
                    <md-icon md-svg-icon="index:up" flex="15"></md-icon>
                    <h2 flex>Watch your kid getting better!</h2>
                </div>
            </div>
        </div>
    </div>
    <div flex="none" class="image-copyrights">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        from <a
                href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
                href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
            3.0
            BY</a>
    </div>
</div>