<div class="family_new" md-theme="dark" layout="column"
     layout-align="center center">
    <div layout="column"
         layout-align="center center">
        <h1>Welcome to Thatsaboy!</h1>
    </div>

    <div editable-text="familyCtrl.name"
         title="Enter family name"
         update-method="familyCtrl.update()"
         only-edit="true"
         ng-show="familyCtrl.step == 1">
        >
    </div>
    <div ng-show="familyCtrl.step == 2" class="first-background"></div>
    <div editable-image="familyCtrl.photo_url"
         title="Choose a photo"
         update-method="familyCtrl.update()"
         image-banks="['family-photos']"
         only-edit="true"
         ng-show="familyCtrl.step == 2"></div>
    <div ng-show="familyCtrl.step == 3" class="second-background"></div>
    <set-pin ng-show="familyCtrl.step == 3"></set-pin>

</div>