<div class="family_new" md-theme="dark" layout="column"
     layout-align="center center">
    <div layout="column"
         layout-align="center center">
        <h1>Welcome to Kids Boards!</h1>
    </div>

    <div editable-text="familyCtrl.name"
         text="Enter family name"
         update-method="familyCtrl.update()"
         only-edit="true"
         ng-show="familyCtrl.step == 1">
        >
    </div>
    <div ng-show="familyCtrl.step == 2" class="first-background"></div>
    <div editable-image="familyCtrl.photo_url"
         text="Choose a photo"
         update-method="familyCtrl.update()"
         image-banks="['family-photos']"
         only-edit="true"
         ng-show="familyCtrl.step == 2"></div>
    <div ng-show="familyCtrl.step == 3" class="second-background"></div>
    <num-pad text="{{change_text}}"
             num="pin"
             on-ok="change_next()"
             only-ok="true"
             type="password"
             min="4"
             max="4"
             ng-show="familyCtrl.step == 3"
    ></num-pad>

</div>