<div class="full family" layout="column" layout-align="start start">
    <div flex layout="row" layout-align="start start">
        <h1 flex="auto">
            Family name: {{ familyCtrl.family.name }}
        </h1>
        <md-button class="md-raised md-accent" ng-click="familyCtrl.updateName()">Change</md-button>
    </div>




    <div flex="" ng-repeat="adult in familyCtrl.family.adults">
        {{ adult }}
    </div>

    <md-button class="md-raised md-accent" ng-click="familyCtrl.addAdult()"><svg><use xlink:href="#plus" /></svg></md-button>

</div>