<div class="family" layout="row" layout-align="center stretch">
    <div class="left-panel" flex="none" layout="column"
         layout-align="center center"
         md-theme="dark"
    >
        <div flex="" layout="column" layout-align="top center">
            <div editable-image="familyCtrl.family.photo_url"
                 text="Choose a photo"
                 update-method="familyCtrl.update()"
                 image-banks="['family-photos']"></div>
            <div editable-text="familyCtrl.family.name"
                 text="Enter new name"
                 update-method="familyCtrl.update()"></div>
        </div>
        <adult-mode flex="none"></adult-mode>
        <logout flex="none"></logout>
    </div>
    <div class="right-panel" flex>
        <div class="container" layout="column" layout-align="center center">
            <h1>Children:</h1>
            <p ng-show="familyCtrl.family.children.length == 0">
                <span hide-in-adult-mode>Enter the adult mode and add a child!</span>
            </p>
            <div class="items" layout="row" layout-align="center center" layout-wrap>
                <md-button class="item"
                           ng-repeat="child in familyCtrl.family.children"
                           ui-sref="app.child({id: child.id})"
                           md-whiteframe="2"
                >
                    <div image="child.photo_url"></div>
                    <p>{{child.name}}</p>
                </md-button>
                <md-button class="item-add"
                           ui-sref="app.child_new"
                           md-whiteframe="2"
                           show-in-adult-mode
                >
                    Add a child
                </md-button>
            </div>
            <h1>Adults:</h1>
            <p ng-show="familyCtrl.family.adults.length == 0">
                <span hide-in-adult-mode>Enter the adult mode and add an adult!</span>
            </p>
            <div class="items" layout="row" layout-align="center center" layout-wrap>
                <md-button class="item"
                           ng-repeat="adult in familyCtrl.family.adults"
                           ui-sref="app.adult({id: adult.id})"
                           md-whiteframe="2"
                >
                    <div image="adult.photo_url"></div>
                    <p>{{adult.name}}</p>
                </md-button>
                <md-button class="item-add"
                           ui-sref="app.adult_new"
                           md-whiteframe="2"
                           show-in-adult-mode
                >
                    Add an adult
                </md-button>
            </div>
        </div>
    </div>
</div>