<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Запрос на изменение пароля</h1>
<p>
    Чтобы изменить пароль, перейдите по следующей ссылке:
    <a href='<%= @url %>'><%= @url %></a>
</p>
</body>
</html>