<div>
    <div ng-show="mode == 'view'">
        <button ng-click="showLoginDialog()" hide-in-adult-mode>Enter adult mode</button>
        <button ng-click="exitAdultMode()" show-in-adult-mode>Exit adult mode</button>
        <button ng-click="showChangePinDialog()" show-in-adult-mode>Change pin</button>
    </div>
    <div ng-show="mode == 'login'">
        <num-pad text="Enter pin"
                 num="pin"
                 on-ok="login()"
                 on-cancel="closeLoginDialog()"
                 min="4"
                 max="4"
        ></num-pad>
    </div>
    <div ng-show="mode == 'change'">
        <num-pad text="Change pin"
                 num="pin"
                 on-ok="changePin()"
                 on-cancel="closeLoginDialog()"
                 min="4"
                 max="4"
        ></num-pad>
    </div>
</div>