<div>
    <div ng-show="mode == 'view'" class="control-buttons"
         layout="column" layout-align="center center">
        <md-button ng-click="showLoginDialog()" hide-in-adult-mode>Enter adult mode</md-button>
        <md-button ng-click="exitAdultMode()" show-in-adult-mode>Exit adult mode</md-button>
        <md-button ng-click="showChangePinDialog()" show-in-adult-mode>Change the PIN code</md-button>
    </div>
    <num-pad text="Enter the PIN code"
             num="pin"
             on-ok="login()"
             on-cancel="closeLoginDialog()"
             type="password"
             min="4"
             max="4"
             ng-show="mode == 'login'"
    ></num-pad>
    <num-pad text="{{change_text}}"
             num="pin"
             on-ok="change_next()"
             only-ok="true"
             type="password"
             min="4"
             max="4"
             ng-show="mode == 'change'"
    ></num-pad>
</div>